*,body{
  //margin: 0;
  box-sizing: border-box;
  /*min-width: 350px;*/
}
html{
  //height: 100vh;
  background-color: #f1f2f7;  
}
.header{
  /*height: 100px;*/
  padding-top: 80px;
  padding-bottom: 30px;
  background-color: white;
}
.header > .title{
  color: #434f71;
  background-color: white;
  width: 80%;
  /*margin: 80px auto 20px;*/
  font-size: 30px;
}
.content-view-wrapper{
  background-color: #f1f2f7;
}
.content-view{
  margin: auto;
  width: 60%;
  padding-top: 30px;
}
.view_type_container{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-top: 30px !important;
  justify-content: flex-end;
}
.view_type_container > .view_type_item{
  color: white;
  cursor: pointer;
  padding: 10px 50px;
  background-color:#434f71;
  border: 1px solid #434f71;
}
.view_type_item:nth-child(1){
  border-radius: 5px 0px 0px 5px;
}
.view_type_item:nth-child(2){
  border-radius: 0px 5px 5px 0px;
}
.view_type_item.active{
  background-color: #f1f2f7 !important;
  color:#434f71 !important;
}
.item{
  /*cursor: pointer;*/
}
.item > img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}
.item > .title{
  border: 1px solid lightgrey;
  position: relative;
  top: -35px;
  padding: 15px 20px 40px;
  color: #434f71;
  text-align: center;
  background-color: white;
}
.action_bar{
  position: fixed;
  display: flex;
  bottom: 0;
  left: 50%;
  color: white;
  transform: translate(-50%, 0);
  margin: auto;
  background-color: #434f71;
  justify-content: center;
  width: 75%;
  text-align: center;
  padding: 15px;
}
.action_bar > div{
  padding: 10px;
  cursor: pointer;
}
.header{
  //background-color: transparent;
  font-size: 30px;
}
.container{
  min-width: 350px;

}
.content_wrapper{
  min-width: 350px;
  /*background-color: white;*/
  background-color: #f1f2f7;
}
.content_view{
  /*padding-bottom: 50px !important;*/
}
.col-3{
  /*width: 2% !important;*/
}