<div class="container">
  <div class="header">My Library</div>
</div>
<div class="content_wrapper">
  <div class="container">
    <div class="row">
      <div class="view_type_container">
        <div class="view_type_item" [ngClass]="{'active': view === 'active'}" (click)="toggleView('active')">Active</div>
        <div class="view_type_item" [ngClass]="{'active': view === 'deleted'}" (click)="toggleView('deleted')">Deleted</div>
      </div>
    </div>

    <div class="row content_view">
      <div class="col-lg-3 col-xs-12 col-sm-6 item" *ngFor="let item of items; let i = index" (click)="toggleActionBar(i)">
        <img *ngIf="item && item['image']" src="{{bkendURL}}{{item['image']['path']}}"/>
        <div class="title">{{item['title']}}</div>
      </div>
    </div>
  </div>

  <div class="action_bar" *ngIf="actionBar">
    <div *ngIf="view === 'deleted'" class="restore" (click)="restore()"><i class="fa-solid fa-trash-arrow-up"></i></div>
    <div *ngIf="view === 'active'" class="delete" (click)="delete()"><i class="fa-solid fa-trash"></i></div>
    <div *ngIf="view === 'active'" class="download" (click)="download()"><i class="fa-solid fa-arrow-down"></i></div>
  </div>

</div>
<script type="text/javascript">
  // window.onload = () => { 
  //   let a = document.querySelectorAll('.view_type_item');
  //   a.forEach((el,i) => {
  //     el.addEventListener('click', (e) => {
  //       a.forEach( (el2, i2) => {
  //         el2.classList.remove('active');
  //       });
  //       if(!e.target.classList.value.includes('active')){
  //         e.target.classList.add('active');
  //       }
  //     })
  //   })
  //   let i = document.querySelectorAll('.item');
  //   let action_bar = document.getElementsByClassName('action_bar');
  //   i.forEach((el) => {
  //     console.log(el, action_bar[0].style);
  //     el.addEventListener('click', e => {
  //       if(action_bar[0].style.display == ''){
  //         action_bar[0].style.display = 'flex';
  //       }
  //     })
  //   })
  // }
</script>
